header.header
    nav.navigation
        img(src="imgs/logo.png" alt="logo").navigation__logo
        a.navigation__back(href="/")
            i.navigation__back__image(class="gg-mail-reply")

    footer#footer.footer
        img.footer__logo(src="/imgs/logo.png" alt="logo")
        div.footer__info
            div.footer__element
                i(class="gg-edit-black-point")
                p.footer__text г. Москва, пр-т Волгоградский, д.47. Бизнес-центр "КУБ
            - let footerImage = ['gg-phone', 'gg-phone']
            - let footerText = ['+7(495)777-33-54', '8(800)775-53-18']
            - i = 0
            while i < 2
                div.footer__element
                    i(class=`${footerImage[i]}`)
                    p.footer__text
                        a(class='footer__link' href=`tel:${footerText[i]}`)= footerText[i]
                        - i++