doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://css.gg/css' rel='stylesheet')
        link(rel="stylesheet" href="/style.css")
        title Форма заказа
    body
        header.header
            nav.navigation
                img(src="imgs/logo.png" alt="logo").navigation__logo
        main.main
            form.form#formOrder(method="post")
                img(alt="Image" src="/imgs/steklo.png").form__image
                div.glass
                    - let i = 0
                    - let glass = ['Закаленное стекло', 'Прозрачное стекло', 'Триплекс стекло', 'Стекло Стемалит', 'Гнутое стекло', 'Витражное стекло', 'Бронированное стекло', 'Матовое стекло', 'Противопожарное стекло', 'Двухслойное стекло', 'Цветное стекло', 'Тонированное стекло']
                    while i < 10
                        div.glass__element
                            label.glass__label
                                input.glass__input(type="radio" name="species")
                                = glass[i]
                                - i++
                    div.glass__element
                        label.glass__label
                            input.glass__input#color(type="radio" name="species")
                            = glass[10]
                    div.glass__element
                        label.glass__label
                            input.glass__input#toning(type="radio" name="species")
                            = glass[11]
                    div.glass__toning
                        label.glass__toning-label Введите процент тонировки:
                            input.glass__toning-input(type="number" name="toning" value="1" min="1" max="100")
                    div.glass__color
                        label.glass__color-label Выберите цвет стекла:
                            input.glass__color-input(type="color", name="color" value="rgba(255,255,255,0)")
                    a
                        div.next
                            p Продолжить
                div.glass-size
                    label.glass-size__label Толщина (в мм.)
                        input.glass-size__input(type="number" name="weight" min="3" max="20" value="3" maxlength="2")
                    label.glass-size__label Форма
                        select(name="format")
                            option(value="square" selected) Прямоугольное
                            option(value="figure") Фигура
                            option(value="circle") Круглое
                    label.glass-size__label Ширина (в мм.)
                        input.glass-size__input(type="number" name="width" min="120" max="3200" value="120" maxlength="2")
                    label.glass-size__label Высота (в мм.)
                        input.glass-size__input(type="number" name="height" min="120" max="3200" value="120" maxlength="2")
                    a
                        div.next
                            p Продолжить
                div.glass-additive
                    label.glass-additive__label Кол-во отверстий
                        select(name="hole")
                            - i = 0
                            while i <= 10
                                option(value=`${i}`)= i++
                    label.glass-additive__label Диаметр
                        input.glass-additive__input(type="number" name="diameter" min="1" max="100" value="1")
                    label.glass-additive__label Кол-во вырезов
                        select.glass-additive__select(name="cutout")
                            - i = 0
                            while i <= 10
                                option.glass-additive__option(value=`${i}`)= i++
                    label.glass-additive__label Полировка
                        input.glass-additive__input(type="radio" name="additive")
                    label.glass-additive__label Шлифовка
                        input.glass-additive__input(type="radio" name="additive")
                    input(type="submit" placeholder="Отправить").submit
        footer#footer.footer
            img.footer__logo(src="/imgs/logo.png" alt="logo")
            div.footer__info
                div.footer__element
                    i(class="gg-edit-black-point")
                    p.footer__text г. Москва, пр-т Волгоградский, д.47. Бизнес-центр "КУБ
                - let footerImage = ['gg-phone', 'gg-phone']
                - let footerText = ['+7(495)777-33-54', '8(800)775-53-18']
                - i = 0
                while i < 2
                    div.footer__element
                        i(class=`${footerImage[i]}`)
                        p.footer__text
                            a(class='footer__link' href=`tel:${footerText[i]}`)= footerText[i]
                            - i++
        script(src="/js/form.js")
        script(src="/js/send.js")