@import "variables";
@import "font";

.main {
  width: 100%;
  margin-top: 20px;
}
.preview {
  width: calc(100% - 40px);
  margin: 0 20px 50px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 20px;

  &__caption {
    font-family: @caption;
  }
  &__text {
    font-family: @text;
  }
}
.species-glass {
  width: calc(100% - 40px);
  margin: 10px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__caption {
    font-family: @caption;
    margin-bottom: 40px;
  }

  &__image {
    margin-bottom: 40px;
    width: inherit;
  }
  &__container {
    display: flex;
    width: inherit;
    flex-direction: column;
    align-items: center;
  }
  &__element {
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid @primary;
    user-select: none;
  }
  &__text {
    font-size: 13px;
    font-family: @text;
    text-transform: uppercase;
  }
  &__link-element {
    width: 100px;
    height: 40px;
    background: @primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: @text;
    margin: 20px auto;
    border-radius: 12px;

    &--hover:hover {
      background: fade(@primary, 80%);
    }
    &--active:active {
      background: fade(@primary, 50%);
    }
  }
}
.create {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;

  &__caption {
    font-family: @caption;
    text-align: center;
    margin: 0 20px 50px 20px;
  }

  &__container {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &__element {
    width: calc(100% - 40px);
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    width: 300px;
  }
  &__text {
    font-family: @text;
    text-transform: uppercase;
    text-align: center;
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 20px 50px 20px;
  box-sizing: border-box;

  &__caption {
    font-family: @caption;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid @primary;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    gap: 20px;
    width: 300px;
  }
  &__caption {
    font-family: @caption;
    text-transform: uppercase;
    font-size: 15px;
  }
  &__text {
    font-family: @text;
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: @tablet-width) {
  .preview {

    &__caption {
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
  .species-glass {

    &__container {
      flex-wrap: wrap;
      height: 230px;
      gap: 5px;
    }
    &__element {
      width: 50%;
    }
    &__caption {
      text-align: center;
    }
    &__image {
      width: 250px;
      height: 250px;
    }
    &__link-element {
      width: 200px;
      height: 50px;
      user-select: none;
    }
  }
  .create {

    &__container {
      align-items: center;
      flex-wrap: wrap;
      height: 1000px;
    }
    &__element {
      width: 300px;
      height: 200px;
    }
    &__text {
      padding-top: 10px;
    }
    &__image {
      width: 100%;
    }
  }
  .info {

    &__container {
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      height: 1000px;
    }
    &__element {
      width: 300px;
      height: 200px;
    }
  }
}
@media (min-width: @desktop-width) {
  .preview {
    max-width: 700px;
    margin: 0 auto;
  }
  .species-glass {

    &__container {
      height: 190px;
      max-width: 1200px;
    }
    &__element {
      width: 25%;
    }
  }
  .create {
    &__container {
      height: 500px;
      gap: 20px;
      max-width: 1200px;
    }
    &__element {
      width: 250px;
      margin: 0;
    }
  }
  .info {

    &__container {
      height: 500px;
      max-width: 1200px;
    }
    &__element {
      width: 250px;
    }
  }
}